* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hmtl , body {
  color: white;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}

h1 {
  color: #1b1b32;
  font-size: 25px;
  font-family: Lato , sans-serif;
  text-align: center;
  margin: 20px 0;

}

.tareaspendientesapp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.tareaslistaprincipal {
  width: 800px;
  min-height: 500px;
  background-color: #ced3b9;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  border-radius: 26px;
}

